	
	@import url(http://fonts.googleapis.com/css?family=Orbitron);
	
	body
	{
		font-family: 'Orbitron', sans-serif;
	}
	.calc_table
	{
		width:100%;
		height:250px;
		margin:10px 0px;
	}
	
	table,tr
	{	
		border:solid 2px #5d5d5d;
		text-align:center;
	}
	td
	{
		border:solid 2px #fff;
		text-align:center;
		width:15px;
		border-radius:15px;
	}
	.calc_outer
	{
		border:solid 2px black;
		width:20%;
		border-radius:5px;
		/* margin:50px auto 0 auto; */
		margin:10% auto 0 auto;
		background:#5d5d5d;
		color:#fff;
		font-weight:bold;
		font-size:17px;
		
	}
	.input_field
	{
		height:30px;
		margin:3px;
		border:2px solid #fff;
		text-align:right;
		border-radius:5px;
		background-color:#d8d8d8;
		color:#000;
		
	}
	
	.box_shadows
	{
		box-shadow: 8px 9px 5px 2px #ddd;
	}
	
	
	
	@media only screen and ( max-width: 800px)
	{
		.calc_outer
		{
			width:40%;
			margin-top:15%;
		}
	}
	@media only screen and ( max-width: 500px)
	{
		.calc_outer
		{
			width:70%;
			margin-top:15%;
		}
	}
	.calc_table td:active
	{
		border:ridge 2px #fff;
		color:#fff;
		font-size:15px;
		box-shadow: 2px 2px 6px 1px #ada9a94d;
	}